// custom-variables
//

$primary: #2d2d6c;
$secundary: #41b13d;
$black: #000;
$matte: #1a1a1a;
$white: #fff;
$error: #b13d3d;
$warning: #c7c419;
$success: #41b13d;

// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #545a6d;
$sidebar-menu-sub-item-color: #545a6d;
$sidebar-menu-item-icon-color: #7f8387;
$sidebar-menu-item-hover-color: #383c40;
$sidebar-menu-item-active-color: #169CBF;
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;


// Footer
$footer-height: 60px;
$footer-bg: #f2f2f5;
$footer-color: #74788d;


$grid-gutter-width: 24px;